name: Build Android APK

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - name: Sign APK
      if: ${{ secrets.SIGNING_KEY != '' }}
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
      env:
        BUILD_TOOLS_VERSION: "33.0.0"

    - name: Upload Signed APK
      if: ${{ secrets.SIGNING_KEY != '' }}
      uses: actions/upload-artifact@v4
      with:
        name: TradingViewAlertApp-signed
        path: ${{steps.sign_app.outputs.signedReleaseFile}}

    - name: Upload Unsigned APK
      if: ${{ secrets.SIGNING_KEY == '' }}
      uses: actions/upload-artifact@v4
      with:
        name: TradingViewAlertApp-unsigned
        path: app/build/outputs/apk/release/*.apk
